body {
    margin: 0;
    font-family: DAEMADSansFill-Bold;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: black;
}

h1 {
    margin: 0;
    display: inline-block;
    color: #fff;
    mix-blend-mode: difference;
    font-size: 72px;
    line-height: 74px;
    padding-top: 10px;
}

h2 {
    margin: 0;
    display: inline-block;
    mix-blend-mode: difference;
    color: #fff;
    font-size: 30px;
    line-height: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
  display: inline-block;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font: inherit;
  font-size: 15px;
  padding: 10px;
  margin-top:10px;
  cursor: pointer;
}
button a {
  text-decoration: none;
}

#menu {
  bottom: 20px;
  right: 20px;
  display: grid;
  position: fixed;
}

h3 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

p {
    margin: 0;
    font-size: 20px;
}

a {
    color: inherit;
    text-decoration: underline;
}

.wrapper {
    width: 100vw;
    /* Ensures the component is the full screen width */
    height: 100vh;
    /* We're using this for demo purposes */
    overflow: hidden;
    /* Allows us to slide the panels outside the container without them showing */
}

#doors {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.door {
    width: calc(50% - 25px);
    /* Each panel takes up half the container */
    height: 100vh;
    background-color: #000;
    float: left;
    position: relative;
    /* Needed to define the z-index */
    z-index: 2;
    /* Places the door in front */
    transition: all 1s ease-out;
}

#left-door {
    float: left;
    border-right: 0px solid white;
    padding-left: 20px;
}

#right-door {
    text-align: right;
    border-left: 0px solid white;
    padding-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
}

#center {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
    float: left;
    padding: 10px;
    overflow: scroll;
}

.container {
    height: 99vh;
    width: 100%
    display: inline-block;
    padding-right: 40px;
    padding-left: 40px;
    overflow: auto;
}
.section {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

audio {
   width: 100%;
   padding-top: 10px;
}



#mobile-indicator {
    float: left;
}

#phone {
    display: none;
}

.title {
    display: inline-block;
}

.logo {
    height: 60px;
    display: flex;
    position: fixed;
    left: 20px;
    bottom: 20px;
}

@font-face {
    font-family: DAEMADSansFill-Bold;
    src: url(Font/DAEMADSansFill-Bold.otf);
}

.upcomingshow {
  border: 0px solid #000;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  background-color: #fff;
  font-family: inherit;
  outline: none;
  font-size: 30px;
  line-height: 32px;
  padding: 10px;
  cursor: auto;
}

.collapsible {
  display: inline-block;
  border: 0px solid #000;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  font-family: inherit;
  outline: none;
  font-size: 30px;
  line-height: 32px;
  padding: 10px;
}

.collapsible:hover {
  background-color: #000;
  color: #fff;
}

.content{
  padding: 0;
  margin-top: 20px;
  margin-bottom: 10px;
  display: none;
  overflow: hidden;
}


/* ---------------------------- MOBILE ---------------------------- */

@media only screen and (max-width:750px) {
    /* For mobile phones: */
    h1 {
        font-size: 30px;
        mix-blend-mode: difference;
        line-height: 32px;
    }
    h2 {
        font-size: 20px;
        mix-blend-mode: difference;
        line-height: 22px;
    }
    img {
        height: 40px;
    }
    #mobile-indicator {
        float: none;
    }
    #center {
        width: 90%;
    }
    #phone {
        display: inline-block;
    }

    .container {
      padding-right: 20px;
      padding-left: 20px;
    }
    /* .title {
        display: none;
    } */
}
